@font-face {
    font-family: 'teacher scribble';
    src: url('../fonts/teacher_scribble-webfont.woff') format('woff');
}

body {
	padding: 0 0 0 0;
	margin:0px;
	font-size: 40px;
	font-family:'teacher scribble';
}

/* Padding immer in Höhe/Breite integrieren */
div {
	box-sizing:border-box;
}

/* Maximalbreite und Zentrierung für Content */
.wrapper {
    max-width: 1200px;
    margin: auto;
}

#menu {
    width: 70%;
    float: right;
}

#menu ul {
    padding: 0px;
    margin: 0px;
    text-align: right;
}

/* Inline-Block lässt Liste einzeilig werden */
#menu ul li {
    display: inline-block;
    list-style-type: none;
}

/* Display:Block lässt einzelne Links als große Hover-Flächen erscheinen */
#menu ul li a {
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}
#menu ul li a:hover {
    background: #d5241a;
}

.burger {
    float: right;
    padding: 20px;
}

#header {
	position: absolute;
	top:250px;
	left:0;
	width:100%;
	background: #960a0a;
	z-index:10;
	background: #00000094;
	color:#fff;
    padding: 0px;
    height: 90px;
}

#header-image {
    background-image: url(../images/olli.PNG);
    height: 340px;
    background-size: cover;
    background-position: center center;
    padding: 130px;
    text-align: center;
    position: relative;
}

#header-image h1 {
    color: #ff0000;
    text-transform: uppercase;
    position: relative;
    font-size: 60px;
}

/* Cleafix für Float-Layouts */	
.clearfix {
	clear:both;
}

#footer {
	width:100%;
	padding:40px;
	background: #4e4e4e;
	color:#fff;
}

.footer-right {
    float: right;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

/* Media Query - Burger auf großen Displays nicht anzeigen */
@media screen and (min-width:993px) {
	.burger {
		display:none;
	}
}
@media screen and (max-width:992px) {
	

	#header-image {
	    padding: 90px 0px;
	}
	
	/* Menü auf kleinen Dispays untereinander anzeigen UND per Default ausblenden - Soll erst bei Klick auf Button sichtbar werden */
	#menu {
	    display: none;
	    float: none;
	    background: #00000094;
	    width: 100%;
	}
}
